.padre{
    width: 100%;
    height: 100%;
    /* border: rgb(0, 0, 0) solid 2px; */
    display: flex;
}

.divizquierdo{
    width: 18%;
    height: 100vh;
    border-radius: 0px 15px 15px 0px;
    background: rgba(227, 186, 120, 0.50);
}

.divderecho{
    /* border: blue solid 2px; */
    width: 100%;
    height: 100vh;
    background-color: #FFF;
}

.TituloPanel{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 50px;
}

.GraficaLinea{
    width: 190px;
    height: 2px;
    padding-left: 10px;
    padding-top: 25px;
}

.button-graficas {
    display: flex;
    border-radius: 15px;
    background: rgba(227, 186, 120, 0.50);
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
    /* border: solid red 2px; */
    width: 190px;
    height: 40px;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
    margin-left: 10px;
    transition: background-color 0.3s; /* Agrega una transición suave al cambio de color */
  }

  .button-graficas:hover {
    background-color: #FFE186; /* Nuevo color al pasar el cursor */
  }

  .button-graficas img {
    width: 50px;
    height: 30px;
    margin-right: 5px;
    /* border: solid blue 2px; */
  }

  /* //////////////// */


  .button-estadisticas {
    display: flex;
    border-radius: 15px;
    background: rgba(227, 186, 120, 0.50);
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
    /* border: solid red 2px; */
    width: 190px;
    height: 40px;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
    margin-left: 10px;
    transition: background-color 0.3s; /* Agrega una transición suave al cambio de color */
  }

  .button-estadisticas:hover {
    background-color: #FFE186; /* Nuevo color al pasar el cursor */
  }

  .button-estadisticas img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    /* border: solid blue 2px; */
  }


  /* /////////// */

  .button-logout {
    display: flex;
    border-radius: 15px;
    background: rgba(227, 186, 120, 0.50);
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
    /* border: solid red 2px; */
    width: 190px;
    height: 40px;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
    margin-left: 10px;
    transition: background-color 0.3s; /* Agrega una transición suave al cambio de color */
  }

  .button-logout:hover {
    background-color: #FFE186; /* Nuevo color al pasar el cursor */
  }

  .button-logout img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    /* border: solid blue 2px; */
  }

  /* .NadvarG{
    border: solid red 2px;
  } */

  .Grafica1{
    /* border: solid red 2px; */
    width: 90%;
    height: 430px;
    margin-top: 40px;
    margin-left: 55px;
  }

/* /////////// */

table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 270px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.TituloMedia{
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 100px;
  padding-right: 40px;
}