@import url('https://fonts.googleapis.com/css2?family=Lunasima&family=Playfair+Display:wght@700&family=Rubik:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Rubik:wght@300&display=swap');

.cuadroIzquierda {
    background: rgba(217, 217, 217, 0.43);
    backdrop-filter: blur(10px);
    height: 80vh;
    width: 50%;
    z-index: 1;

}

.cuadroDerecha {
    background: transparent;
    height: 80vh;
    width: 50%;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.fotito {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url(../img/img-fondo-1.svg);
    background-size: cover;
    background-position: center center;
    display: flex;
}

.textoIzquierda {
    display: flex;
    flex-direction: end;
    justify-content: end;
    align-items: center;
    height: 70%;
}

.textoDerecha {
    z-index: 2;
}

.fotito h1 {
    z-index: 2;
    font-family: 'Rubik', sans-serif;
    font-weight: 1;
    font-size: 6.5rem;
    background: linear-gradient(180deg, #FFF 43.75%, #2AB2B8 99.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitulo {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 30%;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    color: white;
}

.subtitulo h3 {
    padding: 0px 150px 30px 20px;
}

/*Zona de landing info, diseño de los divs*/
div .PadreLandingNosotrosInfo {
    display: flex;
    align-items: center;
    /* Centra verticalmente el contenido */
    justify-content: center;
    margin-top: 150px;
    /* Ajusta el valor según el espacio que desees agregar arriba */
}

div .Hijo1LandingNosotrosInfo {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

div .Hijo2LandingInfo {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;

}

/* Ajuste del contenido central 1 */
/*Ajuste del contenido del div 1, el izquierdo*/
.Hijo1LandingNosotrosInfo h1 {
    color: #000;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Hijo1LandingNosotrosInfo P {
    padding-top: 45px;
    color: #000;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 60px;
    padding-right: 60px;

}

.Button_DivIzquierdo_Nosotros {
    width: 501px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFE186;
    border: 0;
}

.ButtonDivLandingNosotros {
    padding-top: 50px;
}

/*Ajuste del contenido del div 2, el derecho*/
.ImgDivDerechoNosotros {
    width: 500px;
    padding-left: 100px;
}

/* Ajuste de contenido central 2*/
.PadreLandingNosotrosInfo2 {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 150px;
    margin-bottom: 300px;

}

.Hijo1LandingNosotrosInfo2 {
    height: 100%;
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hijo2LandingNosotrosInfo2 {
    height: 100%;
    width: 50%;
    align-items: center;
    text-align: center;
    padding-right: 15px;
}

/* Ajuste del texto del contenido del div 1 */
.Hijo2LandingNosotrosInfo2 p {
    color: #000;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 40px;
    padding-right: 100px;
}

/* Ajuste de la imagen del div 2 del contenido 2 */
.ImgHamsterContenido2Nosotros {
    width: 450px;
}