@import url('https://fonts.googleapis.com/css2?family=Lunasima&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.headergraficas {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 1% 0px;
    margin-top: 75px;
    margin-bottom: 20px;
    z-index: 10;
    background-color: #d8d8d8;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    font-family: Rubik;
    font-size: larger;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 5px;
    font-weight: 400;
    transition: 0.7s;
    font-size: 18px;
}

header ul li a:hover {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    background-color: #C7936A;
    transition: 0.4s;
    border-radius: 20px;
}

header.scroll ul li a:hover {
    color: white;
}

header .logo {
    width: 20%;
}

/*Nadvar*/

/*Zona del lado izquiero texto HABIHAMSTER*/
div.nadvarpadre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
}

.nadvhijo1 h1 {
    color: #000;
    text-align: center;
    font-family: Rubik;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nadvhijo2 h1 {
    color: #C7936A;
    font-family: Rubik;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.divRellenado {
    width: 232px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFE186;
    box-shadow: 5px 7px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 30px;
}


/* Apartado de comida */

.Comida {
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 40px;
}

.ComidaText {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 145px;
}


.ComidaText2 {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 140px;
}

.Linea1 {
    width: 2px;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 100px;
}

/* Temperatura Apartado */

.Temperatura {
    width: 45px;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 305px;
}

.TemperaturaText {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 400px;
}


.TemperaturaText2 {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 415px;
}

.Linea2 {
    width: 2px;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 365px;
}

/* Temperatura Apartado Probabilidad */

.TemperaturaTextProbabilidad {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 375px;
}


.TemperaturaText2 {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 415px;
}


/* Humedad Apartado */

.Humedad {
    width: 35px;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 575px;
}

.HumedadText {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 675px;
}

.HumedadTextProbabilidad {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 650px;
}


.HumedadText2 {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 685px;
}

.Linea3 {
    width: 2px;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 635px;
}

/* Luminosidad Apartado */

.Luminosidad {
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 13px;
    left: 828px;
}

.LuminosidadText {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 920px;
}


.LuminosidadText2 {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 935px;
}

.Linea4 {
    width: 2px;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 890px;
}

/* Apartado de luminosidad en probabilidad */


.LuminosidadProbabilidad {
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 13px;
    left: 50px;
}

.LuminosidadPText {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 135px;
}

.LuminosidadProb {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 116px;
}

.LuminosidadPText2 {
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 155px;
}

.Linea5 {
    width: 2px;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 113px;
}

.TemperaturaText3{
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 395px;
}

.HumedadText3{
    color: #000;
    text-align: center;
    font-family: Slabo 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 675px;
}